[submodule "third_party/docker-builder"]
	path = third_party/docker-builder
	url = https://github.com/idekube-project/idekube-container-docker-builder.git
[submodule "third_party/artifacts"]
	path = third_party/artifacts
	url = https://github.com/idekube-project/idekube-container-artifacts.git
[submodule "third_party/frontend"]
	path = third_party/frontend
	url = https://github.com/idekube-project/idekube-container-frontend.git
[submodule "third_party/healthcheck"]
	path = third_party/healthcheck
	url = https://github.com/idekube-project/idekube-container-healthcheck.git
