[submodule "third_party/docker-builder"]
	path = third_party/docker-builder
	url = ../idekube-container-docker-builder.git

[submodule "third_party/artifacts"]
	path = third_party/artifacts
	url = ../idekube-container-artifacts.git

[submodule "third_party/frontend"]
	path = third_party/frontend
	url = ../idekube-container-frontend.git

[submodule "third_party/healthcheck"]
	path = third_party/healthcheck
	url = ../idekube-container-healthcheck.git
